/*//////////////////////////*/
/* ==== About Section ==== */
/*//////////////////////////*/

.about-section {
    padding-top: clamp(8rem, 20vw, 12rem);
    background-color: white;

    .container {
        max-width: 1100px;
        padding:
            0 /* top, bottom */
            clamp(1.5rem, 4vw, 2.5rem) /* left, right */;
    }
}

.about-content {
    display: flex;
    align-items: center;
    gap: clamp(3rem, 10vw, 5rem);
    margin-bottom: clamp(1rem, 2.5vw, 3rem);
}

.about-content:last-child {
    margin-bottom: 0;
}

.about-content.reverse {
    flex-direction: row-reverse;
}

.about-text {
    flex: 1;
    text-align: left;
}

.about-text .section-title {
    margin-bottom: clamp(1.2rem, 3vw, 1.8rem);
}

.about-text p {
    margin-bottom: clamp(0.8rem, 2.5vw, 1.2rem);
    font-size: 1rem;
    line-height: 1.7;
}

.about-image-1, .about-image-2 {
    flex: 1;
    max-width: 500px;
    border-radius: 1rem;
}

.about-image-1 {
    box-shadow: 10px -10px 0 var(--light);
}
.about-image-2 {
    margin-bottom: clamp(-4rem, -8vw, -2rem);
    box-shadow: -10px 10px 0 var(--sec);
}

.about-image-1 img, .about-image-2 img {
    width: 100%;
    border-radius: 1rem;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.1);
}

/* Responsive */
@media (max-width: 992px) {
    .about-content,
    .about-content.reverse {
        flex-direction: column;
        gap: clamp(1.5rem, 4vw, 2.5rem);
        text-align: center;
    }
    .about-text {
        text-align: center;
    }
    .about-text .section-title {
        margin-bottom: clamp(0.8rem, 2.5vw, 1.2rem);
    }
}