:root {
    --pri: #00AEE8;
    --sec: #21366A;
    --ter: #F9FAFB;
    --border-gray: #e6edf5;
    --text: #626262;
    --light: #E8F7FD;
    --highlight: #d4f4ff;
    --orange: #ff9a03;
    --overlay-dark: linear-gradient(rgba(33, 54, 106, 0.8), rgba(33, 54, 106, 0.8));
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    font-size: 16px;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: var(--sec);
    line-height: 1.6;
    background-color: white;
}

/* Flou derriere le menu sticky */
body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 5rem;
    pointer-events: none;
    z-index: 100;
    backdrop-filter: blur(10px);
    
    mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom, black 50%, transparent 100%); 
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.highlight-blue {
    position: relative;
    background: linear-gradient(180deg, rgba(255,255,255,0) 60%, var(--highlight) 60%, var(--highlight) 90%, rgba(255,255,255,0) 90%);
    padding:
        clamp(0.3rem, 1vw, 0.5rem) /* top, bottom */
        clamp(0.15rem, 0.5vw, 0.25rem) /* left, right */;
    z-index: 0;

}

.highlight-text {
    position: relative;
    display: inline-block;
    background: linear-gradient(180deg, rgba(255,255,255,0) 60%, var(--highlight) 60%, var(--highlight) 90%, rgba(255,255,255,0) 90%);
    padding:
        clamp(0.25rem, 0.8vw, 0.35rem) /* top, bottom */
        clamp(0.15rem, 0.5vw, 0.25rem) /* left, right */;
    margin-bottom: clamp(-0.4rem, -1vw, -0.2rem);
    z-index: 1;
}


.section-title {
    font-family: 'open sans', sans-serif;
    color: var(--sec);
    margin: 0 auto;
    padding: 0 auto;
    max-width: 800px;
}

.section-subtitle {
    color: var(--text);
    max-width: 700px;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    padding:
        clamp(0.5rem, 2vw, 0.75rem) /* top, bottom */
        clamp(1rem, 4vw, 1.5rem) /* left, right */;
    border-radius: 1rem;
    font-weight: 700;
    font-size: 1rem;
    text-align: center;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

    .btn:hover {
        transform: translateY(-2px);
        box-shadow: 0 5px 30px rgba(0, 113, 179, 0.1);
    }

.btn-primary {
    background-color: var(--pri);
    color: white;
}
    .btn-primary:hover {
        background-color: var(--sec);
    }

.btn-secondary {
    background-color: var(--light); 
    color: var(--pri);
    border: 1px solid var(--pri);
}
    .btn-secondary:hover {
        background-color: var(--highlight);
    }

.btn-outline-secondary {
    background-color: transparent;
    border: 1px solid var(--sec);
    color: var(--sec);
}
    .btn-outline-secondary:hover {
        background-color: var(--sec);
        border-color: var(--sec);
        color: white;
    }

.btn-outline-secondary.is-active {
    background-color: var(--sec);
    color: white;
    border-color: var(--sec);
}

.btn-sm {
    font-size: clamp(0.8rem, 0.5vw + 0.65rem, 0.85rem); /* 12.8px à 13.6px */
    padding:
        clamp(0.4rem, 1vw, 0.6rem) /* top, bottom */
        clamp(0.8rem, 2.5vw, 1.2rem) /* left, right */;
    white-space: nowrap;
    display: flex;
    flex-direction: row;
    gap: clamp(0.4rem, 1vw, 0.6rem);
    align-items: center;
    justify-content: center;
    text-align: center;

    i {
        font-size: clamp(0.65rem, 0.5vw + 0.5rem, 0.7rem); /* 10.4px à 11.2px */
        transition: transform 0.2s ease-in-out;
    }
}

.btn-sm:hover {
    i {
        transform: translateX(3px);
    }
}

.btn-ghost-white {
    background-color: white;
    color: var(--sec); 
    border: 2px solid white;
}
    .btn-ghost-white:hover {
        background-color: transparent;
        color: white;
        border-color: rgba(255, 255, 255, 0.7);
    }

/* === 3. Typographie (Homogène) === */
h1, h2, h3, h4, h5, h6 {
    letter-spacing: -0.5px;
}

h1 {
    font-size: clamp(2rem, 5vw, 2.8rem); /* 32px à 45px */
    font-weight: 800;
    line-height: 1;
}

h2 {
    font-size: clamp(1.8rem, 4vw, 2.4rem); /* 29px à 38px */
    font-weight: 800;
    line-height: 1;
}

h3 {
    font-size: clamp(1.4rem, 3vw, 1.8rem); /* 22px à 29px */
    font-weight: 700;
    line-height: 1.2;
}

h4 {
    font-size: clamp(1.2rem, 2.5vw, 1.5rem); /* 19px à 24px */
    font-weight: 700;
    line-height: 1.2;
}

h5 {
    font-size: clamp(1rem, 2vw, 1.2rem); /* 16px à 19px */
    font-weight: 700;
    line-height: 1.2;
}

h6 {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.2;
}

p {
    font-size: clamp(1rem, 1.5vw, 1.1rem); /* 16px à 18px */

    text-align: justify;
    text-align-last: left;

    hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;

    letter-spacing: 0.01em;
    text-justify: inter-word;
    max-width: 75ch;
}