:root {
    --pri: #00AEE8;
    --sec: #21366A;
    --ter: #F9FAFB;
    --border-gray: #e6edf5;
    --text: #626262;
    --light: #E8F7FD;
    --highlight: #d4f4ff;
    --orange: #ff9a03;
    --overlay-dark: linear-gradient(rgba(33, 54, 106, 0.8), rgba(33, 54, 106, 0.8));
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: var(--sec);
    line-height: 1.6;
    background-color: white;
}

/* flou en haut pour header sticky */
body::before {
    content: '';
    position: fixed;
    top: 0;
    height: 5rem;
    z-index: 999; 
    backdrop-filter: blur(10px);
    pointer-events: none;
   
    mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom, black 50%, transparent 100%); 
}

.container {
    max-width: 1200px;
    margin: auto;
}

.highlight-blue {
    position: relative;
    /* display: inline-block; */
    background: linear-gradient(180deg, rgba(255,255,255,0) 60%, var(--highlight) 60%, var(--highlight) 90%, rgba(255,255,255,0) 90%);
    padding: 0.4rem 0.2rem;
    z-index: 0;

}

.highlight-text {
    position: relative;
    display: inline-block;
    background: linear-gradient(180deg, rgba(255,255,255,0) 60%, var(--highlight) 60%, var(--highlight) 90%, rgba(255,255,255,0) 90%);
    padding: 0.3rem 0.2rem;
    margin-bottom: -0.3rem;
    z-index: 1;
}


/* Styles généraux pour les titres de section */
.section-title {
    font-family: 'open sans', sans-serif;
    font-size: 2.5rem;
    line-height: 2.4rem;
    color: var(--sec);
    margin-bottom: 1rem;
    font-weight: 800;
    max-width: 800px;
}

.section-subtitle {
    font-size: 1rem;
    color: var(--text);
    max-width: 800px;
    line-height: 1.4;
    text-align: center;
}

@media (max-width: 768px) {
    .section-title {
        font-size: 2rem;
    }
    .section-subtitle {
        font-size: 1rem;
        margin-bottom: 2rem;
    }
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--sec); 
}

/* Classe utilitaire pour les lecteurs d'écran */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}


/* === 2. Boutons (Styles de base) === */
.btn {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 1rem;
    font-weight: 700;
    font-size: 0.9rem;
    text-align: center;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.btn-primary {
    background-color: var(--pri);
    color: white;
    box-shadow: 0 4px 15px rgba(0, 174, 232, 0.2);
}
.btn-primary:hover {
    background-color: var(--sec);
    transform: translateY(-2px);
    box-shadow: 0 6px 20px rgba(9, 58, 75, 0.3);
}

.btn-secondary {
    background-color: var(--light); 
    color: var(--pri);
    border: 1px solid var(--pri);
}
.btn-secondary:hover {
    background-color: var(--highlight);
    transform: translateY(-2px);
}

.btn-outline-secondary {
    background-color: transparent;
    border: 1px solid var(--sec);
    color: var(--sec);
}
.btn-outline-secondary:hover {
    background-color: var(--sec);
    border-color: var(--sec);
    color: white;
    transform: translateY(-2px);
}
.btn-outline-secondary.is-active {
    background-color: var(--sec);
    color: white;
    border-color: var(--sec);
    /* box-shadow: 0 4px 15px rgba(33, 54, 106, 0.2); */
}

.btn-ghost-white {
    background-color: white;
    color: var(--sec); 
    border: 1px solid transparent;
    border-color: white;
    box-shadow: none;
}
.btn-ghost-white:hover {
    background-color: transparent;
    color: white;
    border: 2px solid rgba(255, 255, 255, 0.7);
    transform: translateY(-2px);
}

/* === 3. Typographie (Homogène) === */
h1, h2, h3, h4, h5, h6 {
    color: var(--sec); 
    font-weight: 800;
    line-height: 1;
    letter-spacing: -0.5px;
}

h1 {
    font-size: clamp(2rem, 5vw, 2.8rem); /* 32px à 45px */
}

h2 {
    font-size: clamp(1.8rem, 4vw, 2.4rem); /* 29px à 38px */
}

h3 {
    font-size: 1.5rem; /* 24px */
    font-weight: 700;
    line-height: 1.3;
}

h4 {
    font-size: 1.1rem; /* 17.6px */
    font-weight: 700;
}

p {
    line-height: 1.5;
    color: var(--sec);

    text-align: justify;
    hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;

    letter-spacing: 0.01em;
    text-justify: inter-word;
    text-align-last: left;
    max-width: 70ch;
}