@keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); }
}

.clients-section {
    padding: 4rem 0;
    background-color: #ffffff;
    display: flex  ;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.clients-section .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.clients-title {
    font-family: 'open sans', sans-serif;
    font-size: 2.5rem;
    line-height: 2.4rem;
    color: #21366A;
    margin-bottom: 2rem;
    font-weight: 800;
    max-width: 800px;
}

.logos-slider {
    overflow: hidden;
    position: relative;
    width: 100%;
    -webkit-mask-image: linear-gradient(to right, transparent, black 20%, black 80%, transparent);
    mask-image: linear-gradient(to right, transparent, black 20%, black 80%, transparent);
}

.logos-track {
    display: flex;
    width: fit-content;
    animation: scroll 30s linear infinite;
}

.logos-slider i {
    font-size: 3rem;
    margin: 0 3rem;
    filter: grayscale(100%);
    opacity: 0.2;
    transition: filter 0.3s ease, opacity 0.3s ease;
}

.logos-slider i:hover {
    filter: grayscale(0%);
    opacity: 1;
}

@media (max-width: 768px) {
    .logos-slider i {
        font-size: 2rem;
        margin: 0 2rem;
    }
}