/*//////////////////////////*/
/* ==== Clients Section ==== */
/*//////////////////////////*/

@keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); }
}

.clients-section {
    padding:
        clamp(5rem, 15vw, 7rem) /* top */
        0 clamp(1.5rem, 4vw, 2.5rem) 0;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.clients-section .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: clamp(1.5rem, 4vw, 2.5rem);
}

@media (max-width: 576px) {
    .clients-section {
        display: block
    }
}

.clients-title {
    font-family: 'open sans', sans-serif;
    font-size: clamp(2rem, 4vw + 1rem, 2.5rem); /* 32px à 40px */
    line-height: 2.4rem;
    color: var(--sec);
    margin-bottom: clamp(1.5rem, 4vw, 2.5rem);
    font-weight: 800;
    max-width: 800px;
}

.logos-slider {
    overflow: hidden;
    position: relative;
    width: 100%;
    -webkit-mask-image: linear-gradient(to right, transparent, black 20%, black 80%, transparent);
    mask-image: linear-gradient(to right, transparent, black 20%, black 80%, transparent);
}

.logos-track {
    display: flex;
    width: fit-content;
    animation: scroll 30s linear infinite;
}

.logos-slider i {
    font-size: clamp(2rem, 4vw + 1rem, 3rem); /* 32px à 48px */
    margin:
        0 /* top, bottom */
        clamp(2rem, 6vw, 4rem) /* left, right */;
    filter: grayscale(100%);
    opacity: 0.2;
    transition: filter 0.3s ease, opacity 0.3s ease;
}

.logos-slider i:hover {
    filter: grayscale(0%);
    opacity: 1;
}

@media (max-width: 576px) {
    .logos-slider i {
        font-size: clamp(3rem, 6vw + 1rem, 4rem); /* 48px à 64px */
        margin:
            clamp(1rem, 3vw, 2rem) /* top, bottom */
            clamp(1.5rem, 4vw, 2.5rem) /* left, right */;
    }
}