/*/////////////////////////////*/
/* ==== Norme Section ==== */
/*/////////////////////////////*/


.norme-section {
    background-color: var(--ter);
    position: relative;
    margin-top: clamp(-8rem, -20vw, -6rem);
    padding:
        clamp(10rem, 20vw, 12rem)
        0 2rem 0;
}

.norme-layout {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 7fr 5fr;
    z-index: 0;
    overflow: hidden;
}

.norme-content-column {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    /* Overlay */
    background: var(--overlay-dark), url('https://www.dgsys.fr/wp-content/uploads/2024/11/DGsys-photo-equipe-768x530-1.jpg.webp'); /* Remplacez par le chemin de votre image */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    z-index: 2;
}

/* === Contenu superposée === */
.norme-content-overlay {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
}

.norme-content-grid {
    display: grid;
    grid-template-columns: 7fr 5fr;
    align-items: center;
    gap: clamp(1.5rem, 4vw, 2.5rem);

    padding: 0 2rem;
}

.norme-features-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: clamp(1.5rem, 4vw, 2.5rem);
}

.norme-text-wrapper {
    position: relative;
    z-index: 2;

    display: flex;
    flex-direction: column;
    gap: clamp(1rem, 2.5vw, 1.5rem);

    margin-right: clamp(1.5rem, 4vw, 2.5rem);

    h2, .section-subtitle {
        color: white;
        padding: 0;
        margin: 0;
    }
}

.norme-conclusion-wrapper {
    color: white;
    padding-left: 1.5rem;
    border-left: 3px solid var(--pri);

    max-width: 450px;
}

.norme-conclusion {
    font-size: 1rem;
    color: white;
    font-style: italic;
}

.norme-visual-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.norme-image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;

    a {
        width: auto;
    }
}

.norme-image {
    max-width: auto;
    padding: clamp(1.5rem, 4vw, 2.5rem);
    height: auto;
    max-height: 400px;
    margin-bottom: clamp(1.5rem, 4vw, 2.5rem);
}

/* === Cartes de fonctionnalités === */
.nf525-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: clamp(1rem, 2.5vw, 1.5rem);
    z-index: 5;

    padding: clamp(0.5rem, 1.5vw, 1rem) clamp(1rem, 2.5vw, 1.5rem);
}

.nf525-feature-card {
    display: flex;
    flex-direction: column;
    gap: clamp(0.5rem, 1.5vw, 1rem);

    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    border: 1px solid var(--border-gray);
    border-radius: 1rem;
    padding:    clamp(0.8rem, 2vw, 1.2rem)
                clamp(1rem, 2.5vw, 1.5rem);
    transition: background-color 0.3s ease, transform 0.3s ease;
    backdrop-filter: blur(5px);

    h4 {
        font-size: 1rem;
        font-weight: 700;
        margin: 0;
    }
    p {
        font-size: clamp(0.85rem, 0.5vw + 0.7rem, 0.9rem); /* 13.6px à 14.4px */
        margin: 0;
        line-height: 1.6;
        text-align: left;
    }
}

.nf525-feature-card:hover {
    transform: translateY(-5px);
    background-color: var(--sec);
    border: 1px solid var(--pri);
}

.nf525-feature-header {
    display: flex;
    align-items: center;
    gap: clamp(0.8rem, 2.5vw, 1.2rem);
}

.nf525-feature-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;

    font-size: clamp(1.1rem, 1vw + 0.9rem, 1.2rem); /* 17.6px à 19.2px */
    padding: clamp(0.4rem, 1vw, 0.6rem);
    color: var(--pri);
    background-color: rgba(0, 174, 232, 0.1);
    border-radius: 0.75rem;
    border: 1px solid var(--pri);
}