/* === Section Statistiques === */

.stats-section {
    padding: 6rem 0;
    margin-bottom: -8rem;
    background-color: var(--ter); /* Un fond légèrement gris pour la section */
}

.stats-section .section-title-container {
    display: flex; 
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 3rem auto;
    max-width: 1200px;
    
}

.stats-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
}

.stat-card {
    background-color: white;
    position: relative;
    border-radius: 1rem;
    text-align: center;
    padding: 1rem;
    border: 1px solid #e2e8f0;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.05), 0 2px 4px -2px rgba(0, 0, 0, 0.05);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.stat-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 10px 15px -3px rgba(33, 54, 106, 0.1), 0 4px 6px -4px rgba(33, 54, 106, 0.1);

    .stat-icon-wrapper {
        scale: 1.2;
    }
}

.stat-icon-wrapper {
    position: absolute;
    top: -2rem;
    left: 1rem;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #e2e8f0;
    background-color: var(--light);
    box-shadow: 0 4px 6px rgba(0, 174, 232, 0.1);
    transition: all 0.3s ease;
}

.stat-icon-wrapper i {
    font-size: 1.5rem;
    color: var(--pri); /* Couleur cyan pour toutes les icônes */
}

.stat-value {
    font-size: 2.25rem;
    margin-top: 0.5rem; /* Espace pour l'icône qui est sortie du flux */
    font-weight: 800;
    color: var(--sec);
    line-height: 1;
    display: inline-block;
}

.stat-suffix {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--sec);
    margin-left: 0.25rem;
}

.stat-label {
    font-size: 1rem;
    font-weight: 800;
    color: var(--sec);
    margin: 0.2rem 0 0.75rem 0;
}

.stat-description {
    font-size: 0.9rem;
    color: var(--text);
    line-height: 1.5;
    max-width: 200px;
    margin: 0 auto;
}

/* --- Responsive --- */
@media (max-width: 1024px) {
    .stats-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .stats-section {
        padding: 4rem 0;
    }
    .stats-grid {
        grid-template-columns: 1fr;
        gap: 1.5rem;
    }
    .stat-card {
        padding: 1.5rem;
    }
}