@import 'base.css';
@import 'tarifs2.css';
@import 'header.css';
@import 'hero.css';
@import 'metiers.css';
@import 'metiers2.css';
@import 'metiers3.css';
@import 'metiers4.css';
@import 'fonctions.css';
@import 'activites.css';
@import 'mission.css';
@import 'secteur.css';  
@import 'produits.css';
@import 'tarifs.css';
@import 'norme.css';
@import 'clients.css'; 
@import 'footer.css';
@import 'about.css';
@import 'header-top-bar.css';
@import 'avantage.css';
@import 'produits2.css';
@import 'faq.css';
@import 'solutions_showcase.css';
@import 'contact.css';
@import 'materiels.css';
@import 'stats.css';
@import 'clients2.css';
