@import 'css/base.css';
@import 'css/tarifs.css';
@import 'css/header.css';
@import 'css/hero.css';
@import 'css/metiers-premium.css';
@import 'css/fonctions.css';
@import 'css/activites.css';
@import 'css/mission.css';
@import 'css/norme.css';
@import 'css/clients.css'; 
@import 'css/footer.css';
@import 'css/about.css';
@import 'css/header-top-bar.css';
@import 'css/faq.css';
@import 'css/solutions_showcase.css';
@import 'css/contact.css';
@import 'css/materiels.css';
@import 'css/stats.css';
@import 'css/boulangerie.css';
@import 'css/contact.css';

