@import 'css/base.css';
@import 'css/tarifs2.css';
@import 'css/header.css';
@import 'css/hero.css';
@import 'css/metiers.css';
@import 'css/metiers2.css';
@import 'css/metiers3.css';
@import 'css/metiers4.css';
@import 'css/metiers-premium.css';
@import 'css/fonctions.css';
@import 'css/activites.css';
@import 'css/mission.css';
@import 'css/secteur.css';  
@import 'css/produits.css';
@import 'css/tarifs.css';
@import 'css/norme.css';
@import 'css/clients.css'; 
@import 'css/footer.css';
@import 'css/about.css';
@import 'css/header-top-bar.css';
@import 'css/avantage.css';
@import 'css/produits2.css';
@import 'css/faq.css';
@import 'css/solutions_showcase.css';
@import 'css/contact.css';
@import 'css/materiels.css';
@import 'css/stats.css';
@import 'css/boulangerie.css';
@import 'css/contact.css';
@import 'css/spider_responsive.css';
